
.js-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.send-button {
  background-color: rgb(2, 145, 97);
  color: white;
  padding: 12px 20px;
  font-size: large;
  margin-left: 20px;
  border: 2px solid rgb(230, 228, 228);
  border-radius: 10px;
}

.send-button:hover {
  background-color: rgb(2, 121, 81);
  border: 2px solid rgb(0, 0, 0);

}
.clear-button{
  background-color: rgb(248, 51, 51);
  color: rgb(51, 50, 50);
  padding: 12px 20px;
  font-size: large;
  margin-left: 20px;
  border: 2px solid rgb(230, 228, 228);
  border-radius: 10px;
}
.clear-button:hover{
background-color: rgb(180, 9, 0);
  border: 2px solid rgb(0, 0, 0);
}

.chat-input {
  padding: 12px 20px;
  font-size: large;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;

  flex-grow: 1;
}

.input-cont {
  display: flex;
  gap: 10px;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 800px;

  padding: 16px;
  background-color: rgb(230, 228, 228);

}

.user {
  display: flex;
  justify-content: end;
  align-items: center;
}

.robot {
  display: flex;
  justify-content: start;
  align-items: center;
}

.para {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  padding: 16px;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  font-size: large;
  max-width: 400px;
  font-weight: 500;
}

.img {
  border: 3px solid black;
  border-radius: 50%;
}
.message-time{
  color: rgb(102, 104, 104);
  font-size: small;
  padding-top: 5px;
}
